.sidebar{
    background-image: linear-gradient(40deg, #b62084,#2b2f30);
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
